In [20]:
import pandas as pd
import numpy as np

In [21]:
data=pd.read_csv('washington_train.csv')
data.head()

   beds  baths  size size_units  lot_size lot_size_units  zip_code    price
0     3    2.5  2590       sqft   6000.00           sqft     98144   795000
1     4    2.0  2240       sqft      0.31           acre     98106   915000
2     4    3.0  2040       sqft   3783.00           sqft     98107   950000
3     4    3.0  3800       sqft   5175.00           sqft     98199  1950000
4     2    2.0  1042       sqft       NaN            NaN     98102   950000

In [22]:
data.shape

(2016, 8)

In [23]:
data.drop(columns=['lot_size','lot_size_units'],inplace=True)
data.describe()

              beds        baths          size      zip_code         price
count  2016.000000  2016.000000   2016.000000   2016.000000  2.016000e+03
mean      2.857639     2.159970   1735.740575  98123.638889  9.636252e+05
std       1.255092     1.002023    920.132591     22.650819  9.440954e+05
min       1.000000     0.500000    250.000000  98101.000000  1.590000e+05
25%       2.000000     1.500000   1068.750000  98108.000000  6.017500e+05
50%       3.000000     2.000000   1560.000000  98117.000000  8.000000e+05
75%       4.000000     2.500000   2222.500000  98126.000000  1.105250e+06
max      15.000000     9.000000  11010.000000  98199.000000  2.500000e+07

In [24]:
data.drop(columns=['size_units'],inplace=True)
data.head()

   beds  baths  size  zip_code    price
0     3    2.5  2590     98144   795000
1     4    2.0  2240     98106   915000
2     4    3.0  2040     98107   950000
3     4    3.0  3800     98199  1950000
4     2    2.0  1042     98102   950000

In [25]:
data.to_csv("final_dataset.csv")
final=pd.read_csv('final_dataset.csv')
final.shape

(2016, 6)

In [26]:
x=data.drop(columns=['price'])
y=data['price']

In [27]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [28]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [29]:
column_trans = make_column_transformer(
    (OneHotEncoder(sparse_output=False), ['beds']),
    remainder='passthrough'
)

In [30]:
scaler=StandardScaler()
x_scaled=scaler.fit_transform(x)

In [32]:
from sklearn.ensemble import GradientBoostingRegressor
gbr=GradientBoostingRegressor()
gbr.fit(x_scaled,y)
pipe_gbr=make_pipeline(column_trans,scaler,gbr)
pipe_gbr.fit(x_train,y_train)
y_pred_gbr=pipe_gbr.predict(x_test)
r2_score(y_test,y_pred_gbr)

0.1309476109311295